.resultweathercard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.weatherareabuttonsrow {
  display: flex;
  justify-content: space-between;
}
.displayareaweathercardrow{
    display:flex;
    flex-direction: column;
}